// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

td.body-preview {
    /*Massima dimensione di 50 caratteri, superati 50 caratteri
    il testo viene nascosto e vengono mostrati 3 puntini ... */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50ch;
}

.select-wrapper{
    margin: 12px 0;
}

footer{
    height: 80px;
    margin-top: 20px;
}